<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KPMG Tax Returns Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("KPMG Tax Returns", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
      </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Create Transactions", "Create", "AccountTransactions")</li>
                    <li>@Html.ActionLink("Get Transactions", "Index", "AccountTransactions")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="copyright">
                <span class="copyright-year">&copy; @DateTime.Now.Year</span> <span class="copyright-name">KPMG </span>
                | <span class="copyright-text">
                    Part of the <a href="#">Kpmg Companies</a>
                </span>
                |
                <span class="copyright-text">
                    <a href="#">Terms & Conditions</a>
                </span>

            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
